.lh-36{
    line-height: 36px;
}
.lh-28{
    line-height: 28px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-56{
    margin-bottom: 56px;
}
.mt-32{
    margin-top: 32px;
}
.mt-40{
    margin-top: 40px;
}
.pt-40{
    padding-top: 40px;
}
.pb-56{
    padding-bottom: 56px;
}

.px-15{
    padding: 0 15px;
}

.fs-i{
font-style: italic;
}
.text-a-l{
    text-align: left;
}
.fz-18{
    font-size: 18px;
}